/* Index Page Styling */

body {
  min-height: 100vh;
  background-image: url('../images/twitter-flock3.png'), 
  url('../images/new-clouds2.png'), 
  url('../images/test-footer.png'),
  linear-gradient(180deg, #0098ffbf, #0098ff85, #0098ff45);
  background-size: contain, 100%, 100%, 100%;
  background-position: left 100px, center -10vw, center bottom, left top;
  background-repeat: repeat-x;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* --- Responsive Background --- */
@media (max-width: 1100px) {
  body {
    background-image: url('../images/twitter-flock3.png'), 
    url('../images/twitter-flock3.png'), /* multiply the flock */
    url('../images/new-clouds2.png'), 
    url('../images/test-footer.png'),
    linear-gradient(180deg, #0098ffbf, #0098ff85, #0098ff45);
    background-position: left 100px, left 500px, center -6vw, center bottom, left top;
  }

  .index-footer {
    margin-bottom: 150px;
  }
}

@media (max-width: 768px) {
  body {
    background-position: left 200px, 25px 525px, center 0vw, center bottom, left top;
  }
}

@media (max-width: 550px) {
  body {
    background-position: -50px 300px, -55px 700px, center 0vw, center bottom, left top;
    background-size: 200%, 150%, 150vw, 300%, 100%;  
  }
}

@media (max-width: 400px) {
  body {
    background-position: -50px 350px, -55px 700px, center 0vw, center bottom, left top;
    background-size: 200%, 200%, 200vw, 300%, 100%;
  }
}

@media (max-width: 350px) {
  body {
    background-position: -50px 425px, -55px 700px, center -2vw, center bottom, left top;
  }
}

#react-container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: start;
}

.index-cont {
  padding: 150px 50px 50px 50px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 20px;
}

@media (max-width: 425px) {
  .index-cont {
    padding: 150px 15px 50px 15px;
  }
}

.header-copy {
  text-align: center;
  text-shadow: 1px 1px 1px white, -1px -1px 2px white, 1px 1px 10px white;
}

.invalid-feedback {
  text-shadow: 1px 1px 1px white;
}

.index-head h1 {
  padding-bottom: 20px;
}

.index-head h6 {
  font-size: 1.6rem;
  letter-spacing: 0.04rem;
}

.index-footer {
  margin: 75px 0 25px 0;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1300px;
}

.index-footer > * {
  color: #ffffff;
  font-weight: 300;
}

@media (max-width: 1100px) {
  .index-footer {
    margin-bottom: 100px;
  }
}

.index-footer img {
  max-width: 50px;
}

.index-footer a {
  text-decoration: underline;
}

.app-form-cont {
  min-width: 80%;
}

.index-head .alert-success {
  margin-top: 25px;
  padding: 25px;
}

.index-head .success-copy {
  line-height: 2;
  font-size: 1.2rem;
}

.index-head .success-copy div {
  margin: 10px;
}

.index-head .success-check {
  font-size: 4rem;
  background-color: #0bcc0b;
  border-radius: 50%;
  color: white;
  width: 100px;
  height: 100px;
  text-shadow: none;
  text-align: center;
  float: left;
  margin: 5px;
}


/* --- List Group Account Picker -- */
.account-picker-list-group {
  cursor: pointer;
  border: 1px solid lightgrey;
  border-radius: .25rem;
  max-height: 500px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* inner scroll box shadows trick from lea verou */
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

.account-picker-list-item {
  background-color: unset; /* for the list shadow indicators */
  flex-shrink: 0;
}

.account-picker-list-item button {
  min-width: 100px;
}

.account-picker-list-item:hover {
  background-color: rgb(245, 245, 245);
}

@media (max-width: 576px) {
  /* on sm devices, switch account picker list item layout to centered column */
  .account-picker-list-item {
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }
}

.tweet-author-name {
  color: rgb(20, 23, 26);
  cursor: pointer;
  font-weight: 700;
  margin-right: 5px;
}

.tweet-author-username {
  color: rgb(101, 119, 134);
  font-weight: 400;
}

/* --- App Form Styling --- */
.target-screen-name-append {
  width: 20%;
}

.target-screen-name-append > .btn {
  width: 100%;
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}

@media screen and (max-width: 530px) {
  .app-form-cont .btn-success {
    width: 100%;
    margin-top: 10px;
  }
}


/* --- Recaptcha Responsive Scaling --- */
@media screen and (max-width: 350px) {
  #rc-imageselect {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }

  .g-recaptcha {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

@media screen and (max-height: 500px) {
  #rc-imageselect {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

