<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Twitter Virtualizer</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
   <!-- server app vars needed for production -->
    <% if (webpackConfig.mode == "production") { %>
        {% if app_vars %}
        <script type="text/javascript" nonce="{{ csp_nonce() if csp_nonce }}">
            window.APP_VARS = {{ app_vars|tojson }};
        </script>
        {% endif %}
    <% } %>
    <div class="main d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div id="react-container"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
