<div class="container main-content">
  <div class="row">
      <div class="col">
          <div class="upper-copy-section">
              <div class="row">
                  <div class="col">
                      <div>
                          "Twitter is a highly individual experience that works like a collective hallucination, not a community. It’s probably totally fine that a good chunk of the nation’s elites spend so much time on it. What could go wrong?"
                      </div>
                      <div>
                          -- <a href="https://www.theatlantic.com/technology/archive/2019/04/twitter-is-not-america/587770/" target="_blank">Alexis C. Madrigal, The Atlantic</a>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div>
                          The Twitter timeline looks much the same to everybody. But have you seen another person's Twitter timeline before?
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div>
                          What would the President see if they opened Twitter on their phone right now? Or Bernie Sanders? Or Kanye West? Or your friend?
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div>
                          This free, experimental tool can show you. All that you'll need is a Twitter account, and the username of another person who you happen to follow. Or, you can choose a sample account from the list below.
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div>
                          <div>
                              - We do not store Twitter user credentials, nor any other Twitter data related to your account.
                          </div>
                          <div>
                              - We will never post anything to your account. <a href="https://twitter.com/settings/applications" target="_blank">De-authorizing our application is easy</a>, and we recommend doing so afterwards.
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- end .upper-copy-section -->
          <div id="react-container"></div>
      </div>
  </div>
</div><!-- end .main-content -->




const TestSlideOverlap = (props) => {
    const onHideFinish = props.onHideFinish; // callback
    const onShowFinish = props.onShowFinish;
    const onSlideFinish = props.onSlideFinish;
    const transitioning = props.transitioning;

    const currentIndex = props.currentIndex;
    const slideIndex = props.slideIndex;
    const wait = props.wait;

    const transitionEndHandler = (evt) => {
        let animationName = evt.animationName;
        if (animationName == "bounceInUp")
            onShowFinish(evt)
        if (animationName == "bounceOutUp")
            onHideFinish(evt)
    };

    let classes = [];
    if (wait && slideIndex == currentIndex) {
        classes.push("animated-wiggle");
    } else if (slideIndex == currentIndex) {
        classes.push("animated");
        classes.push("bounceInUp");
    } else {
        classes.push("d-none");
        //if ((slideIndex - 1) == currentIndex) {
        //    classes.push("animated");
        //    classes.push("bounceOutUp");
        //    classes.push("faster");
        //} else {
        //    classes.push("d-none");
        //}
    }

    return (
        <div className={classes.join(' ')} onAnimationEnd={transitionEndHandler}>
            <h1>Here's Some Text {props.slideIndex}</h1>
            <Button variant="primary" onClick={onSlideFinish}>Finish</Button>
        </div>
    );
};

const TestReactAppOverlap = (props) => {
    const [currentIndex, setCurrentIndex] = React.useState(0);
    const [wait, setWait] = React.useState(false);
    
    const onHideFinish = () => {
    };
    const onShowFinish = () => {
        setWait(true);
    };
    const onSlideFinish = () => {
        setWait(false);
        setCurrentIndex(currentIndex + 1);
    };

    return (
        <>
            <TestSlideOverlap slideIndex={0} currentIndex={currentIndex} wait={wait} onShowFinish={onShowFinish} onHideFinish={onHideFinish} onSlideFinish={onSlideFinish} />
            <TestSlideOverlap slideIndex={1} currentIndex={currentIndex} wait={wait} onShowFinish={onShowFinish} onHideFinish={onHideFinish} onSlideFinish={onSlideFinish} />
        </>
    );
};



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Twitter Virtualizer</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/animate.min.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    {% if app_vars %}
    <script type="text/javascript">
        window.APP_VARS = {{ app_vars|tojson }};
    </script>
    {% endif %}

    {% macro tweet_media_object(author_name, author_username, author_icon_url="/static/images/twitter_virtual_icon.png") %}
    <div class="media tweet-object animated bounceInUp">
        <div class="mr-3 tweet-img-container">
            <div class="mb-1">
                <img src="{{ author_icon_url }}" class="rounded-circle" />
            </div>
            <div class="reply-stretch-line">
            </div>
        </div>
        <div class="media-body">
            <div class="tweet-meta">
                <span class="tweet-author-name">
                    {{ author_name }}
                </span>
                <span class="tweet-author-username">
                    {{ author_username }}
                </span>
                <span class="spacer">·</span>
                <time>∞</time>
            </div>
            <div class="tweet-body">
                {{ caller() }}
            </div>
            <div class="container mt-2 tweet-interaction-icons">
                <div class="row">
                    <div class="col">
                        <div class="tweet-icon-hover reply-hover"></div>
                        <svg viewBox="0 0 24 24" class="tweet-icon"><g><path d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path></g></svg>
                    </div>
                    <div class="col">
                        <div class="tweet-icon-hover rt-hover"></div>
                        <svg viewBox="0 0 24 24" class="tweet-icon"><g><path d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"></path></g></svg>
                    </div>
                    <div class="col">
                        <div class="tweet-icon-hover like-hover"></div>
                        <svg viewBox="0 0 24 24" class="tweet-icon"><g><path d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"></path></g></svg>
                    </div>
                    <div class="col">
                        <div class="tweet-icon-hover share-hover"></div>
                        <svg viewBox="0 0 24 24" class="tweet-icon"><g><path d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"></path><path d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"></path></g></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}

    <div class="main d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div id="react-container"></div>
                    <!--
                    <div class="tweet-list">
                    {% call tweet_media_object("The Atlantic", "@TheAtlantic", "/static/images/atlantic_icon.jpg") %}
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            &OpenCurlyDoubleQuote;Twitter is a highly individual experience that works like a collective hallucination, not a community. It’s probably totally fine that a good chunk of the nation’s elites spend so much time on it. What could go wrong?&CloseCurlyDoubleQuote;
                        </p>
                        <footer class="blockquote-footer">
                            Alexis C. Madrigal <cite title="Twitter Is Not America"><a href="https://www.theatlantic.com/technology/archive/2019/04/twitter-is-not-america/587770/" target="_blank">“Twitter Is Not America”</a> The Atlantic</cite>
                        </footer>
                    </blockquote>
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    The Twitter timeline looks much the same to everybody. But have you seen another person's Twitter timeline before?
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    What would the President see if they opened Twitter on their phone right now? Or Bernie Sanders? Or Kanye West? Or your friend?
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    This free, experimental tool can show you. All that you'll need is a Twitter account, and the username of another person who you happen to follow. Or, you can choose a sample account from the list below.
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    We do not store Twitter user credentials, nor any other Twitter data related to your account.
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    We will never post anything to your account. <a href="https://twitter.com/settings/applications" target="_blank">De-authorizing our application is easy</a>, and we recommend doing so afterwards.
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    <div id="react-container"></div>
                    {% endcall %}
                    -->
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid main-content">
        <div class="row">
            <div class="col">
                Header Goes Here
            </div>
            <div class="col">
                <svg viewBox="0 0 24 24" class="twitter-sort-icon"><g><path d="M22.772 10.506l-5.618-2.192-2.16-6.5c-.102-.307-.39-.514-.712-.514s-.61.207-.712.513l-2.16 6.5-5.62 2.192c-.287.112-.477.39-.477.7s.19.585.478.698l5.62 2.192 2.16 6.5c.102.306.39.513.712.513s.61-.207.712-.513l2.16-6.5 5.62-2.192c.287-.112.477-.39.477-.7s-.19-.585-.478-.697zm-6.49 2.32c-.208.08-.37.25-.44.46l-1.56 4.695-1.56-4.693c-.07-.21-.23-.38-.438-.462l-4.155-1.62 4.154-1.622c.208-.08.37-.25.44-.462l1.56-4.693 1.56 4.694c.07.212.23.382.438.463l4.155 1.62-4.155 1.622zM6.663 3.812h-1.88V2.05c0-.414-.337-.75-.75-.75s-.75.336-.75.75v1.762H1.5c-.414 0-.75.336-.75.75s.336.75.75.75h1.782v1.762c0 .414.336.75.75.75s.75-.336.75-.75V5.312h1.88c.415 0 .75-.336.75-.75s-.335-.75-.75-.75zm2.535 15.622h-1.1v-1.016c0-.414-.335-.75-.75-.75s-.75.336-.75.75v1.016H5.57c-.414 0-.75.336-.75.75s.336.75.75.75H6.6v1.016c0 .414.335.75.75.75s.75-.336.75-.75v-1.016h1.098c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z"></path></g></svg>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div class="tweet-list">
                    {% call tweet_media_object("The Atlantic", "@TheAtlantic", "/static/images/atlantic_icon.jpg") %}
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            &OpenCurlyDoubleQuote;Twitter is a highly individual experience that works like a collective hallucination, not a community. It’s probably totally fine that a good chunk of the nation’s elites spend so much time on it. What could go wrong?&CloseCurlyDoubleQuote;
                        </p>
                        <footer class="blockquote-footer">
                            Alexis C. Madrigal <cite title="Twitter Is Not America"><a href="https://www.theatlantic.com/technology/archive/2019/04/twitter-is-not-america/587770/" target="_blank">“Twitter Is Not America”</a> The Atlantic</cite>
                        </footer>
                    </blockquote>
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    The Twitter timeline looks much the same to everybody. But have you seen another person's Twitter timeline before?
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    What would the President see if they opened Twitter on their phone right now? Or Bernie Sanders? Or Kanye West? Or your friend?
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    This free, experimental tool can show you. All that you'll need is a Twitter account, and the username of another person who you happen to follow. Or, you can choose a sample account from the list below.
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    We do not store Twitter user credentials, nor any other Twitter data related to your account.
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    We will never post anything to your account. <a href="https://twitter.com/settings/applications" target="_blank">De-authorizing our application is easy</a>, and we recommend doing so afterwards.
                    {% endcall %}
                    {% call tweet_media_object("Twitter Virtualizer", "@TwitterVirtualizer") %}
                    <div id="react-container"></div>
                    {% endcall %}
                </div>
            </div>
        </div>
    </div> --><!-- end .main-content -->
    <!--<footer class="navbar">
        What Should Go Here? GitHub? LinkedIn? Twitter? Mailto?
    </footer>-->
    <script type="text/javascript" charset="UTF-8" src="/static/index.js"></script><!-- include app script -->
</body>
</html>