/* --- Index Page Styling --- */

/* --- Fonts --- */
@font-face {
  font-family: WarioWareInc;
  src: url(/static/fonts/warioware_inc.ttf);
}

html, body {
  height: 100%;
}

.main {
  min-height: 100%;
  min-width: 100%;
}


/* --- Slide Styling ---*/
.slide {
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: .5em;
}

/* solid drop shadow: box-shadow: .5rem .5rem 0rem rgba(0,0,0,.15)!important */

/* --- Tweet Styling --- */
.tweet {
  align-items: stretch;
}

.tweet-img-container {
  width: 49px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.tweet-img-container img {
  flex: 0 0 auto;
}

.reply-stretch-line {
  width: 3px;
  background-color: rgb(204, 214, 221);
  flex: 1 0 auto;
  margin-bottom: -20px;
}

.tweet-icon-container {
  display: inline-block;
}

.tweet-icon-hover {
  height: 2.5em;
  width: 2.5em;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 7px;
  right: 0;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}

.reply-hover:hover, .share-hover:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.rt-hover:hover {
  background-color: rgba(23, 191, 99, 0.1);
}

.like-hover:hover {
  background-color: rgba(224, 36, 94, 0.1);
}

.tweet .media-body {
/* allow the media object/tweet body/flex item containing our react app to shrink */
  min-width: 0;
}

.tweet:last-child .reply-stretch-line {
  display: none;
}

.tweet-icon {
  height: 1.5em;
  fill: currentColor;
  color: rgb(136, 153, 166);
}

.twitter-sort-icon {
  color: rgba(29,161,242,1.00);
  fill: currentColor;
  width: 1.25em;
}

.tweet-meta {
  color: rgb(110, 118, 125);
  font-size: 15px;
  display: flex;
  flex-flow: row wrap;
}

.tweet-meta > span > span {
  margin-right: 5px;
}

.tweet-author-name {
  color: rgb(20, 23, 26);
  cursor: pointer;
  font-weight: 700;
  margin-right: 5px;
}

.tweet-author-username {
  color: rgb(101, 119, 134);
  font-weight: 400;
}

/*
slide next button styling
letter-spacing: 30px;
*/

/* --- List Group Account Picker -- */
.account-picker-list-group {
  cursor: pointer;
  border: 1px solid lightgrey;
  max-height: 500px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* inner scroll box shadows - jacked from lea verou's blog */
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

.account-picker-list-item {
  background-color: unset; /* for the list shadow indicators */
}

.account-picker-list-item button {
  min-width: 100px;
}

.account-picker-list-item:hover {
  background-color: rgb(245, 245, 245);
}

@media (max-width: 576px) {
  /* on sm devices, switch account picker list item layout to centered column */
  .account-picker-list-item {
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }
}

/* --- App Form Styling --- */
.target-screen-name-append {
  width: 20%;
}

.target-screen-name-append > .btn {
  width: 100%;
  border-top-right-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}

/* --- Animations --- */
@-webkit-keyframes wiggle {  
  12% { -webkit-transform: skewX(1deg) scale(1.01); }
  24% { -webkit-transform: skewX(3deg) scale(1.00)}
  36% { -webkit-transform: skewX(1deg) scale(0.99); }
  48% { -webkit-transform: skewX(0deg) scale(1.00); }
  60% { -webkit-transform: skewX(-1deg) scale(1.01); }
  72% { -webkit-transform: skewX(-3deg) scale(1.00); }
  84% { -webkit-transform: skewX(-1deg) scale(0.99); }
  100% { -webkit-transform: skewX(0deg) scale(1.00); }
}

@keyframes wiggle {
  12% { transform: skewX(1deg) scale(1.01); }
  24% { transform: skewX(3deg) scale(1.00); }
  36% { transform: skewX(1deg) scale(0.99); }
  48% { transform: skewX(0deg) scale(1.00); }
  60% { transform: skewX(-1deg) scale(1.01); }
  72% { transform: skewX(-3deg) scale(1.00); }
  84% { transform: skewX(-1deg) scale(0.99); }
  100% { transform: skewX(0deg) scale(1.00); }
}

.animated-wiggle {
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* hallucination text gradient shift */
@-webkit-keyframes gradient-shift { 
  to {
    background-position: 200% center;
  }
} 

@keyframes gradient-shift {
  to {
    background-position: 200% center;
  }
}

.hallucination span {
  font-size: 1.5rem;
}

.hallucination span:nth-child(odd) {
  background: linear-gradient(right, red, yellow);
  background: -webkit-linear-gradient(right, red, yellow);
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-shift 1s linear infinite;
  background-size: 200% auto;
  /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
}

.hallucination span:nth-child(even) {
  background: linear-gradient(left, green, orange);
  background: -webkit-linear-gradient(left, green, orange);
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-shift 1s linear infinite;
  background-size: 200% auto;
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
}

.hallucination span:nth-child(3n) {
  background: linear-gradient(right, pink, purple);
  background: -webkit-linear-gradient(right, pink, purple);
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-shift 1s linear infinite;
  background-size: 200% auto;
}

/* --- Recaptcha Responsive Scaling --- */
@media screen and (max-width: 350px) {
  #rc-imageselect {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  } 

  .g-recaptcha {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

@media screen and (max-height: 500px) {
  #rc-imageselect {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; 
  }
}


/* --- Card Deck Acct Picker (deprecated) --- */
.sample-acct-picker {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  background-color: lightgrey;
}

.card {
  min-width: 225px; 
  max-width: 225px; 
  max-height: 375px; 
  margin-right: 10px; 
}

.card-img-top {
  width: 100%; 
  object-fit: cover;
  height: 175px;
}

.card-body {
  display: flex;
  flex-flow: column; 
  align-items: flex-start;
  justify-content: space-between;
}

.sample-acct-btn {
  width: 100%;
}
